@model List<Kluby.Models.Trenerzy>
@{
    ViewData["Title"] = "Trenerzy";
}

<h1>Lista Trenerów</h1>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ffffff;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #37c754;
    }
    tr:nth-child(even) {
        background-color: #0987db;
    }
    tr:hover {
        background-color: #37c754;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
</style>

<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="id_asc">ID ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="id_desc">ID ▼</a>
            </th>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="name_asc">Imię ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="name_desc">Imię ▼</a>
            </th>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="surname_asc">Nazwisko ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="surname_desc">Nazwisko ▼</a>
            </th>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="age_asc">Wiek ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="age_desc">Wiek ▼</a>
            </th>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="year_join_asc">Rok dołączenia ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="year_join_desc">Rok dołączenia ▼</a>
            </th>
            <th>
                <a asp-action="Trenerzy" asp-route-sortOrder="year_end_asc">Rok zakończenia ▲</a> |
                <a asp-action="Trenerzy" asp-route-sortOrder="year_end_desc">Rok zakończenia ▼</a>
            </th>
            @if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {
            <th>Akcje</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var trener in Model)
        {
            <tr>
                <td>@trener.id_trenera</td>
                <td>@trener.imie</td>
                <td>@trener.nazwisko</td>
                <td>@trener.wiek</td>
                <td>@trener.Rok_dolaczenia_do_klubu</td>
                <td>@trener.Rok_zakonczenia_pracy_w_klubie</td>
                @if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {
                <td>
                    <form asp-action="DeleteTrener" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@trener.id_trenera" />
                        <button type="submit">Usuń</button>
                    </form>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {

<h2>Dodaj Nowego Trenera</h2>

<form asp-action="AddTrener" method="post" class="form-container">
    <div style="display: flex; flex-direction: column; width: 300px;">
        <div style="margin-bottom: 10px;">
            <label for="imie" style="width: 100px; display: inline-block;">Imię:</label>
            <input type="text" id="imie" name="imie" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="nazwisko" style="width: 100px; display: inline-block;">Nazwisko:</label>
            <input type="text" id="nazwisko" name="nazwisko" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="wiek" style="width: 100px; display: inline-block;">Wiek:</label>
            <input type="number" id="wiek" name="wiek" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Rok_dolaczenia_do_klubu" style="width: 100px; display: inline-block;">Rok dołączenia:</label>
            <input type="number" id="Rok_dolaczenia_do_klubu" name="Rok_dolaczenia_do_klubu" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Rok_zakonczenia_pracy_w_klubie" style="width: 100px; display: inline-block;">Rok zakończenia:</label>
            <input type="number" id="Rok_zakonczenia_pracy_w_klubie" name="Rok_zakonczenia_pracy_w_klubie" required style="width: calc(100% - 110px);" />
        </div>
        <button type="submit" style="width: 100px;">Dodaj</button>
    </div>
</form>
}
