@model List<Trenerzy>

@{
    ViewBag.Title = "Trenerzy";
}

<h2>Trenerzy</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>
                @Html.ActionLink("Wiek ▲", "Trenerzy", new { sortOrder = "age_asc" }) |
                @Html.ActionLink("Wiek ▼", "Trenerzy", new { sortOrder = "age_desc" })
            </th>
            <th>Rok dołączenia do klubu</th>
            <th>Rok zakończenia pracy w klubie</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var trener in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => trener.id_trenera)</td>
            <td>@Html.DisplayFor(modelItem => trener.imie)</td>
            <td>@Html.DisplayFor(modelItem => trener.nazwisko)</td>
            <td>@Html.DisplayFor(modelItem => trener.wiek)</td>
            <td>@Html.DisplayFor(modelItem => trener.Rok_dolaczenia_do_klubu)</td>
            <td>@Html.DisplayFor(modelItem => trener.Rok_zakonczenia_pracy_w_klubie)</td>
        </tr>
    }
    </tbody>
</table>