@model List<Kluby.Models.Puchary>
@{
    ViewBag.Title = "Puchary";
}

<h2>Puchary</h2>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ffffff;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #37c754;
    }
    tr:nth-child(even) {
        background-color: #0987db;
    }
    tr:hover {
        background-color: #37c754;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    a:hover {
        text-decoration: underline;
    }
</style>

<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Puchary" asp-route-sortOrder="id_asc">ID ▲</a> |
                <a asp-action="Puchary" asp-route-sortOrder="id_desc">ID ▼</a>
            </th>
            <th>
                <a asp-action="Puchary" asp-route-sortOrder="name_asc">Nazwa Turnieju ▲</a> |
                <a asp-action="Puchary" asp-route-sortOrder="name_desc">Nazwa Turnieju ▼</a>
            </th>
            <th>
                <a asp-action="Puchary" asp-route-sortOrder="place_asc">Miejsce ▲</a> |
                <a asp-action="Puchary" asp-route-sortOrder="place_desc">Miejsce ▼</a>
            </th>
            <th>
                <a asp-action="Puchary" asp-route-sortOrder="year_asc">Rok Zdobycia ▲</a> |
                <a asp-action="Puchary" asp-route-sortOrder="year_desc">Rok Zdobycia ▼</a>
            </th>
            @if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {
            <th>Akcje</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var puchar in Model)
        {
            <tr>
                <td>@puchar.id_pucharu</td>
                <td>@puchar.Nazwa_Turnieju</td>
                <td>@puchar.Miejsce</td>
                <td>@puchar.Rok_zdobycia</td>
                @if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {
                <td>
                    <form asp-action="DeletePuchar" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@puchar.id_pucharu" />
                        <button type="submit">Usuń</button>
                    </form>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (ViewBag.IsAdmin is not null && ViewBag.IsAdmin == "True") {

<h2>Dodaj nowy puchar</h2>
<form asp-action="AddPuchar" method="post" class="form-container">
    <div style="display: flex; flex-direction: column; width: 300px;">
        <div style="margin-bottom: 10px;">
            <label style="width: 100px; display: inline-block;">Nazwa</label>
            <input type="text" name="Nazwa_Turnieju" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label style="width: 100px; display: inline-block;">Miejsce:</label>
            <input type="text" name="Miejsce" required style="width: calc(100% - 110px);" />
        </div>
        <div style="margin-bottom: 10px;">
            <label style="width: 100px; display: inline-block;">Rok Zdobycia:</label>
            <input type="number" name="Rok_zdobycia" required style="width: calc(100% - 110px);" />
        </div>
        <button type="submit" style="width: 100px;">Dodaj</button>
    </div>
</form>
}